.main-countries {
    height: auto;
    width: calc(100%);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    .button-countries {
        margin-top: 1rem;
    }
}