.main-countries {
    margin-left: 11rem;
    height: 100vh;
    width: calc(100% - 11rem);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    .button-countries {
        margin-top: 1rem;
    }
}