.main-statistics {
  margin-left: 11rem;
  height: 100vh;
  width: calc(100% - 11rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-statistics h3 {
  margin-top: 1rem;
  color: #FFFFFF;
}

.main-statistics .main-charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
}

.main-statistics .canvas-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  margin: 1rem 1rem 0 1rem;
  height: 47%;
  width: 100%;
}

.main-statistics .canvas-container .chart {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  margin: 1rem 0 1rem 0;
}

.main-statistics .canvas-container .chart__display {
  background-color: #262c43;
}

.main-statistics .canvas-container .chart__choice {
  background-color: #FFFFFF;
  border: none;
  height: 1.5rem;
  width: 5rem;
  margin: 0.5rem 1rem 0.5rem 25%;
}
